<!-- This is the main CSS file for all pages -->

* {
  box-sizing: border-box;
}

body, div {
  margin: 0;
  padding: 0;
}

#header {
  background-color: black;
  top: 0;
  left: 0;
  height: 200px;
}

#footer {
  background-color: red;
  clear: both;
  font-size: 10px;
  text-decoration: none;
  font-family: Arial;
  font-color: white;
  text-align: center;
}

#links {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  height: 4em;
  background-color: green;
  border-top: black 1px;
  border-bottom: black 1px;
  text-align: center;
}
#links * {
  display: inline-block;
  margin-top: 2em;
  padding-top: 0.25em;
}
#links a {
  margin-left: 2em;
  color: white;
  height: 100%
}
#links p {
  margin-left: 5em;
}
