
* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
	margin: 0;
}

body, div {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Helvetica;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #f1ebf2;
}

#header {
	background-color: black;
	width: 100%;
	height: 200px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

#header img {
	display: block;
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 100%;
}

#buffer {
	margin-top:2em;
}

#footer {
	background-color: #56bab0;
	font-size: 10px;
	text-decoration: none;
	font-family: Arial;
	color: black;
	text-align: center;
}

#links {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	background-color: #8d1da3;
	border-top: black 1px;
	border-bottom: black 1px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;
	padding: 0.5em 0;
}

#links * {
	display: inline-block;
	padding-top: 0.25em;
}
	
#links a {
	margin: 0;
	padding: 0.25em 0.75em;;
	color: white;
	height: 100%;
	text-decoration: none;
}

#links p {
	margin-left: 5em;
}

#sidebar {
	background: linear-gradient(to bottom, #8d1da3, #56bab0);
	display: block;
	text-align: center;
	padding-top: 0;
}

.left-sidebar {
	
	width: 3%;
}
.left-sidebar-links {
	width: 10%;
}
.right-sidebar {
	
	width: 3%;
}

#sidebar a{
	color: white;
}
	
#content {
	padding-bottom: 0;
}

#wrapper {
	display: flex;
	flex: 1;
	flex-direction: row;
}	

#row {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

#row > img {
	width: calc(33.3% - 10px);
	max-width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.yarn-list {
	text-align: left;
	display: inline-block;
	list-style: none;
}

.yarn-list-container {
	text-align: center;
}

.card {
	display: block;
	text-decoration: none;
	width: 30%;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card img {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
	display: block;
}

.card-title {
	display: block;
	margin-top: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
} 

@media (max-width: 768px) {
	#wrapper {
		flex-direction: column;
	}
	.left-sidebar-links, .right-sidebar {
		width: 100%;
		padding: 1em o;
	}
	#row > img {
		width: calc(50%-10px);
	}
}
@media (max-width: 480px) {
	#row > img {
		width: 100%;
	}
	.card {
		width: 90%;
		margin: 0 auto;
	}
	#links {
		flex-direction: column;
		gap: 0.5em;
	}
}