<!-- This is the main CSS file for all pages -->

* {
  box-sizing: border-box;
}

body, div {
  margin: 0;
  padding: 0;
}

#header {
  background-color: red;
  top: 0;
  left: 0;
  height: 10em;
  text-align: center;
}

#footer {
  background-color: red;
  clear: both;
  font-size: 10px;
  text-decoration: none;
  font-family: Arial;
  font-color: white;
  text-align: center;
}

#links {
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  height: 4em;
  background-color: green;
  border-top: black 1px;
  border-bottom: black 1px;
  text-align: center;
}
